
* {box-sizing: border-box}
body{font-family: 'Times New Roman', Times, serif;}
h1,h2,p{
    text-align: center;
}

.aquaculture{
    width:33%;
    background-color:whitesmoke;
    margin-left: auto;
    margin-right:auto;
    padding:20px;
    max-width:500px;
}

body{
    background-image:url(Marino);
    font-family:sans-serif;
    padding:20px;
}

h1, h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.established{
    font-style:italic;
}

h1{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
}
h2{
    font-size:30px;
}
hr{
    height: 2px;
    background-color: indigo;
    border-color:indigo;
}

.item p{
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;
    font-size:18px;
}

.species,.feed,.tank{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width:25%;
}

.bottom-line{
    margin-top:25px;
}

footer{
    font-size:14px;
}

a:visited{
    color:black;
}

a:hover{
    color:grey;
}

a:active{
    color:yellowgreen;
}

.address{
    margin-bottom:5px;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-25px;

}
.navbar
{
    width: 100%;
    background-color: greenyellow;
    overflow: auto;
}
.navbar a
{
    float: left;
    padding:14px;
    color: blue;
    font-size: larger;
    width: 20%;
    text-align: center;
}
.navbar a:hover
{
    background-color: chocolate;
}
@media screen and (max-width: 500px) 
{
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }


form
{
    text-align: center;
    background-color:darkcyan;
    display: block;
    width: 100%;
    margin: 3px;
    word-spacing: 1px;
    line-height: 90px;
    background-image: none;

}
img.user
{
    width: 40%;
    border-radius: 50%;
    padding: 16px;
    
}  
input[type=email], input[type=password]
{
    font-size: 20px;
    width: 30%;
    padding: 14px, 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 20px, solid,red;
    
    
}
button
{
    background-color: violet;
    color: whitesmoke;
    padding: 12px, 20px;
    margin: 8px, 0;
    border-radius: 10px;
    font-size: large;
    width: 10%;
    cursor: pointer;
}
button:hover
{
    opacity: 0.8;
}
